.box{
    background: yellow;
    width: 950px;
    height: 350px;
    padding: 10px;
    margin: 20px;
}
.title{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}
.details{
    text-align: center;
}